---
layout: base
---

<p>
	Questa è l'homepage di Uniberry, una rete di chat indipendenti relative a <a href="https://www.unimore.it/">Unimore</a> pensata principalmente per gli studenti!
</p>
<p>
	È composta da due parti:
</p>
<ul>
	<li>
		<img class="icon" alt="" src="/_pass/icon-public.png" width="20" height="20"> alcune <b>chat pubbliche</b> per chiacchierare o per chiedere informazioni su Unimore;
	</li>
	<li>
		<img class="icon" alt="" src="/_pass/icon.png" width="20" height="20"> tante <b>chat riservate agli studenti</b> per discutere nello specifico degli insegnamenti di:
		<ul>
			<li>
				Informatica (Triennale)
			</li>
			<li>
				Informatica (Magistrale)
			</li>
		</ul>
	</li>
</ul>
<p>
	<a href="/_pass/screenshot.png">
		<img class="screenshot" alt="Screenshot della rete di chat, vista da Matrix" src="/_pass/screenshot.png"/>
	</a>
</p>

<hr/>

<h2>
	Come posso entrare nelle chat pubbliche?
</h2>
<p>
	Puoi entrare nelle chat pubbliche con la tua applicazione di chat preferita.
</p>
<div class="row">
	<div>
		<h4>
			<a href="https://matrix.org/">
				Matrix
			</a>
			<br/>
			<small>
				(consigliato)
			</small>
		</h4>
		<p>
			Puoi unirti allo Space contenente le chat pubbliche cliccando qui:
		</p>
		<p class="center">
			<a class="btn" href="https://matrix.to/#/#unimore:uniberry.info">
				Apri lo Space
			</a>
		</p>
		<p>
			In alternativa, puoi inserire il codice dello Space nella ricerca della tua applicazione:
		</p>
		<p class="center">
			<b>
				<code>
					#unimore:uniberry.info
				</code>
			</b>
		</p>
	</div>
	<div>
		<h4>
			<a href="https://telegram.org/">
				Telegram
			</a>
			<br/>
			<small>
				&nbsp;
			</small>
		</h4>
		<p>
			Puoi aggiungere la cartella Unimore P al tuo account cliccando qui:
		</p>
		<p class="center">
			<a class="btn" href="https://t.me/addlist/FwBPqNEF14M4M2Uy">
				Aggiungi cartella
			</a>
		</p>
	</div>
	<div>
		<h4>
			<a href="https://discord.com/">
				Discord
			</a>
			<br/>
			<small>
				&nbsp;
			</small>
		</h4>
		<p>
			Puoi entrare nel server contenente tutte le chat cliccando qui:
		</p>
		<p class="center">
			<a class="btn" href="https://discord.gg/jGK8nxTXF8">
				Entra nel server
			</a>
		</p>
		<p>
			In alternativa, puoi trovare il server nello Student Hub "UNIMORE":
		</p>
		<p class="center">
			<a class="btn" href="https://discord.com/invite/hzA3MtAURu">
				Entra nell'Hub
			</a>
		</p>
	</div>
</div>

<hr/>

<h2>
	Come posso entrare nelle chat ristrette?
</h2>
<p>
	La maggior parte delle chat della rete è <b>riservata agli studenti</b>.
</p>
<p>
	Se sei uno studente, potrai accedervi una volta che le tue credenziali saranno state verificate da chi gestisce la rete.
</p>
<p>
	Puoi effettuare la verifica inviando dal tuo indirizzo di posta istituzionale <code>XXXXXX@studenti.unimore.it</code> una email a <code>uniberry@steffo.eu</code>, <b>indicando in essa il nome del tuo account</b> sulla applicazione di chat che hai scelto di usare!
</p>
<p class="center">
	<a class="btn" href="mailto:uniberry@steffo.eu?subject=Uniberry%20-%20Verifica%20credenziali&body=Ciao!%20Sono%20<USERNAME>%20su%20<APPLICAZIONE>!%20Potresti%20verificarmi?">
		Verifica le tue credenziali
	</a>
</p>
<p>
	Riceverai in risposta alla email informazioni su come procedere.
</p>

<hr/>

<h2>
	Come ci si deve comportare in Uniberry?
</h2>
<p>
	All'interno delle chat, cerca di:
</p>
<ul>
	<li>
		mantenere un <b>atteggiamento positivo, amichevole, informale ma rispettoso degli altri</b>
	</li>
	<li>
		aiutare tutti a imparare, <b>scrivendo domande e risposte in pubblico</b> invece che richiedere conversazioni private (siamo tutti studenti, non si giudica nessuno!)
	</li>
	<li>
		<b>inviare i messaggi nelle chat opportune</b>, in modo che sia notificato solo chi vi è interessato e che altri studenti in futuro possano recuperarli
	</li>
</ul>

<hr/>

<h2>
	Ho bisogno di aiuto riguardo Uniberry, chi posso contattare?
</h2>
<p>
	Per qualsiasi domanda o problema, puoi contattare:
</p>
<ul>
	<li>
		<b>Steffo</b>, il creatore della rete, via <a href="mailto:uniberry@steffo.eu?subject=Uniberry%20-%20">email</a>, <a href="https://matrix.to/#/@steffo:uniberry.info">Matrix</a> oppure <a href="https://t.me/@Steffo">Telegram</a>
	</li>
	<li>
		oppure, se non è disponibile, puoi provare a scrivere a <b>Snowy</b>, via <a href="https://t.me/@SnowyCoder">Telegram</a> o <a href="https://matrix.to/#/@snowy:uniberry.info">Matrix</a>
	</li>
</ul>

<hr/>
