<!DOCTYPE html>
<html lang="it">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<title>Uniberry</title>
		<link rel="stylesheet" href="/_pass/style.css" type="text/css">
	</head>
	<body>
		<header>
			<hgroup>
				<h1>
					<a href="/">
						<img alt="" src="/_pass/icon.png" width="64" height="64"/>
						<span>Uniberry</span>
					</a>
				</h1>
			</hgroup>
		</header>
		<main>
			{{ content | safe }}
		</main>
		<hr/>
		<footer>
			© 2023 <a href="https://www.steffo.eu/">Stefano Pigozzi</a> · <a href="https://github.com/uniberry-info/lokiweb">Pubblicato</a> sotto la licenza <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC-BY-SA 4.0</a> · Realizzato con <a href="https://www.11ty.dev/">Eleventy</a> · Icone di <a href="https://fontawesome.com/">Font Awesome</a>
		</footer>
	</body>
</html>
